@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header__top__inner">
                            <div class="header__top__left">
                                <ul>
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <span>@User.Identity.Name</span>
                                    }
                                    else
                                    {
                                        <li><a href="/Identity/Login/Index">Login</a> <span class="arrow_carrot-down"></span></li>
                                    }
                                </ul>
                            </div>
                            <div class="header__logo">
                                <a href="/Cake/Index"><img src="/template/img/logo.png" alt=""></a>
                            </div>
                            <div class="header__top__right">
                                <div class="header__top__right__links">
                                    <a href="#" class="search-switch"><img src="/template/img/icon/search.png" alt=""></a>
                                    <a href="/Wishlist/Index"><img src="/template/img/icon/heart-white.png" id="heartIcon" alt=""></a>
                                </div>
                                <div class="header__top__right__cart">
                                    <a href="/ShoppingCart/Index"><img src="/template/img/icon/cart.png" alt=""> <span id="basket_item_count">0</span></a>
                                    <div class="cart__price">Cart: <span>$0.00</span></div>
                                </div>
                                <div id="notification" style="display: none;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="canvas__open"><i class="fa fa-bars"></i></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/Cake/Index">Home</a></li>
                            <li><a href="/Cake/Shop">Shop</a></li>
                            <li><a href="/Contact/Index">Contact</a></li>
                            <li><a href="/About/Index">About</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
