<head>
    <meta charset="UTF-8">
    <meta name="description" content="Cake Template">
    <meta name="keywords" content="Cake, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cake | Template</title>

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="/template/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/template/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/template/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="/template/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/template/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/template/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/template/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/template/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/template/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/template/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/site.css" type="text/css">
</head>