html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.thank-you-heading {
  font-size: 30px;
  font-weight: bold;
  color: #f08532ff;
  margin-bottom: 20px;
}

.order-received-text {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}

.contact-info-text {
  font-size: 16px;
  color: #333;
  margin-top: 20px;
}
.password-visibility-button {
    background-color: #4b49ac;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 0;
    cursor: pointer;
}
.password-visibility-button:hover {
  background-color: #4b49acff;
}
