
CakeShop/.DS_Store
.idea/.DS_Store
.idea/.idea.CakeShop/.DS_Store
*.info
*.dll
*.pdb
*.editorconfig
*.cache
.DS_Store
CakeShop/bin/Debug/net7.0/CakeShop.staticwebassets.runtime.json
*.p7s
*.nupkg
*.sha512
*.exe
CakeShop/obj/dotnet-aspnet-codegenerator
DataAccess/obj/project.packagespec.json
DataAccess/obj/project.assets.json
CakeShop/obj/Debug/net7.0/staticwebassets.pack.json
CakeShop/obj/Debug/net7.0/staticwebassets.development.json
CakeShop/obj/Debug/net7.0/staticwebassets.build.json
CakeShop/obj/Debug/net7.0/CakeShop.Web.RazorAssemblyInfo.cs
CakeShop/obj/Debug/net7.0/CakeShop.Web.GlobalUsings.g.cs
CakeShop/obj/Debug/net7.0/CakeShop.Web.AssemblyInfo.cs
CakeShop/obj/Debug/net7.0/CakeShop.MvcApplicationPartsAssemblyInfo.cs
CakeShop/obj/Debug/net7.0/CakeShop.csproj.FileListAbsolute.txt
CakeShop/obj/CakeShop.Web.csproj.nuget.g.targets
CakeShop/obj/CakeShop.Web.csproj.nuget.g.props
CakeShop/obj/CakeShop.Web.csproj.nuget.dgspec.json
CakeShop/obj/CakeShop.csproj.nuget.dgspec.json
CakeShop/obj/CakeShop.csproj.nuget.dgspec.json
CakeShop/obj/Debug/net7.0/CakeShop.csproj.FileListAbsolute.txt
CakeShop/obj/Debug/net7.0/CakeShop.MvcApplicationPartsAssemblyInfo.cs
CakeShop/obj/Debug/net7.0/staticwebassets.build.json
CakeShop/obj/Debug/net7.0/staticwebassets.development.json
CakeShop/obj/Debug/net7.0/staticwebassets.pack.json
CakeShop/obj/Debug/net7.0/staticwebassets/msbuild.CakeShop.Microsoft.AspNetCore.StaticWebAssets.props
CakeShop/obj/project.packagespec.json
CakeShop/obj/project.assets.json
Application/bin/Debug/net7.0/Application.deps.json
Application/bin/Debug/net7.0/Application.runtimeconfig.json
Application/obj/Application.csproj.nuget.dgspec.json
Application/obj/Application.csproj.nuget.g.props
Application/obj/Application.csproj.nuget.g.targets
Application/obj/CakeShop.Application.csproj.nuget.dgspec.json
Application/obj/CakeShop.Application.csproj.nuget.g.props
Application/obj/CakeShop.Application.csproj.nuget.g.targets
Application/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Application/obj/Debug/net7.0/Application.AssemblyInfo.cs
Application/obj/Debug/net7.0/Application.csproj.CopyComplete
Application/obj/Debug/net7.0/Application.csproj.FileListAbsolute.txt
Application/obj/Debug/net7.0/Application.GlobalUsings.g.cs
Application/obj/Debug/net7.0/CakeShop.Application.AssemblyInfo.cs
Application/obj/Debug/net7.0/CakeShop.Application.GlobalUsings.g.cs
Application/obj/project.assets.json
Application/obj/project.packagespec.json
CakeShop/bin/Debug/net7.0/CakeShop.deps.json
CakeShop/obj/CakeShop.csproj.nuget.dgspec.json
CakeShop/obj/Debug/net7.0/CakeShop.csproj.FileListAbsolute.txt
CakeShop/obj/Debug/net7.0/CakeShop.MvcApplicationPartsAssemblyInfo.cs
CakeShop/obj/Debug/net7.0/staticwebassets.build.json
CakeShop/obj/Debug/net7.0/staticwebassets.development.json
CakeShop/obj/Debug/net7.0/staticwebassets.pack.json
CakeShop/obj/Debug/net7.0/staticwebassets/msbuild.CakeShop.Microsoft.AspNetCore.StaticWebAssets.props
CakeShop/obj/project.assets.json
CakeShop/obj/Debug/net7.0/staticwebassets/msbuild.CakeShop.Microsoft.AspNetCore.StaticWebAssets.props
CakeShop/obj/Debug/net7.0/staticwebassets.pack.json
DataAccess/obj/CakeShop.DataAccess.csproj.nuget.dgspec.json
DataAccess/obj/CakeShop.DataAccess.csproj.nuget.g.props
DataAccess/obj/CakeShop.DataAccess.csproj.nuget.g.targets
DataAccess/obj/Debug/net7.0/CakeShop.DataAccess.AssemblyInfo.cs
DataAccess/obj/Debug/net7.0/CakeShop.DataAccess.GlobalUsings.g.cs
DataAccess/obj/project.assets.json
DataAccess/obj/project.packagespec.json
DataAccess/obj/project.packagespec.json
CakeShop/obj/Debug/net7.0/staticwebassets.pack.json
CakeShop/obj/project.packagespec.json
CakeShop/obj/Debug/net7.0/staticwebassets/msbuild.CakeShop.Microsoft.AspNetCore.StaticWebAssets.props
CakeShop/obj/Debug/net7.0/staticwebassets.pack.json
CakeShop/obj/Debug/net7.0/staticwebassets.development.json
CakeShop/obj/Debug/net7.0/staticwebassets.build.json
CakeShop/obj/Debug/net7.0/CakeShop.MvcApplicationPartsAssemblyInfo.cs
CakeShop/obj/Debug/net7.0/CakeShop.csproj.FileListAbsolute.txt
CakeShop/obj/CakeShop.csproj.nuget.dgspec.json
