@using Domain.Entity
@model List<Testimonial>
<section class="testimonial spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <span>Testimonial</span>
                        <h2>Our client say</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testimonial__slider owl-carousel">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-6">
                            <div class="testimonial__item">
                                <div class="testimonial__author">
                                    <div class="testimonial__author__pic">
                                        <img src="/template/img/testimonial/ta-1.jpg" alt="">
                                    </div>
                                    <div class="testimonial__author__text">
                                        <h5>@item.Name @item.Surname</h5>
                                        <span>@item.City</span>
                                    </div>
                                </div>
                                <div class="rating">
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star-half_alt"></span>
                                </div>
                                <p>@item.Message</p>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </section>
