@model CakeShop.Areas.Identity.Models.UserRegisterViewModel

@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Cake Shop</title>
  <link rel="stylesheet" href="~/admin/vendors/feather/feather.css">
  <link rel="stylesheet" href="~/admin/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="~/admin/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="~/admin/css/vertical-layout-light/style.css">
  <link rel="shortcut icon" href="~/admin/images/favicon.png" />
  <link rel="stylesheet" href="/template/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/css/site.css"/>
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="~/admin/images/logo.svg" alt="logo">
              </div>
              <h4>New here?</h4>
              <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
              <form asp-controller="Register" asp-action="Index" class="pt-3">
                <div class="input-group mt-4">
                  <input type="text" class="form-control form-control-lg" asp-for="UserName" placeholder="Username">
                  <span asp-validation-for="UserName"></span>
                </div>
                <div class="input-group mt-4">
                  <input type="email" class="form-control form-control-lg" asp-for="Email" placeholder="Email">
                  <span asp-validation-for="Email"></span>
                </div>
                <div class="input-group mt-4">
                  <input type="password" class="form-control form-control-lg" asp-for="Password" placeholder="Password">
                  <button class="btn btn-secondary password-visibility-button" type="button"><i class="fa fa-eye-slash" aria-hidden="true"></i></button>
                  <span asp-validation-for="Password"></span>
                </div>
                <div class="input-group mt-4">
                  <input type="password" class="form-control form-control-lg" asp-for="ConfirmPassword" placeholder="Confirm Password">
                  <button class="btn btn-secondary password-visibility-button" type="button"><i class="fa fa-eye-slash" aria-hidden="true"></i></button>
                  <span asp-validation-for="ConfirmPassword"></span>
                </div>
                
                <div class="input-group mt-4">
                  <input type="text" class="form-control form-control-lg" asp-for="PhoneNumber" placeholder="Phone Number">
                  <span asp-validation-for="PhoneNumber"></span>
                </div>
                <div class="mb-4">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                      I agree to all Terms & Conditions
                    </label>
                  </div>
                </div>
                <div class="mt-3">
                  <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit">SIGN UP</button>
                </div>
                <div class="text-center mt-4 font-weight-light">
                  Already have an account? <a href="/Identity/Login/Index" class="text-primary">Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="~/admin/vendors/js/vendor.bundle.base.js"></script>
  <script src="~/admin/js/off-canvas.js"></script>
  <script src="~/admin/js/hoverable-collapse.js"></script>
  <script src="~/admin/js/template.js"></script>
  <script src="~/admin/js/settings.js"></script>
  <script src="~/admin/js/todolist.js"></script>
  <script src="~/js/Login/Index.js"></script>
</body>

</html>
