<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
    <link rel="shortcut icon" type="image/png" href="~/admin/src/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/admin/src/assets/css/styles.min.css" />
    <link rel="stylesheet" href="/template/css/bootstrap.min.css" type="text/css">
</head>