<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/Admin/Home/Index">
              <i class="mdi mdi-view-dashboard menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Admin/Cake/Index">
              <i class="mdi mdi-cake menu-icon"></i>
              <span class="menu-title">Cakes</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Admin/Category/Index">
              <i class="mdi mdi-bullseye menu-icon"></i>
              <span class="menu-title">Categories</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Admin/Order/Index">
              <i class="mdi mdi-basket-unfill menu-icon"></i>
              <span class="menu-title">Orders</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Admin/Testimonial/Index">
              <i class="mdi mdi-human menu-icon"></i>
              <span class="menu-title">Testimonials</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Admin/Contact/Index">
              <i class="mdi mdi-contact-mail menu-icon"></i>
              <span class="menu-title">Contact</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Admin/About/Index">
              <i class="mdi mdi-account-badge-outline menu-icon"></i>
              <span class="menu-title">About</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Identity/Profile/Index">
              <i class="ti-user menu-icon"></i>
              <span class="menu-title">Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Cake/Index">
              <i class="mdi mdi-menu menu-icon"></i>
              <span class="menu-title">Cake Shop</span>
            </a>
          </li>
        </ul>
      </nav>