@using Domain.Entity
@model List<Cake> 

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


   @await Html.PartialAsync("HeroSection")

@await Component.InvokeAsync("AboutList")

@await Component.InvokeAsync("CategoryList")


@await Component.InvokeAsync("CakeList")

@await Component.InvokeAsync("TestimonialList")

@await Html.PartialAsync("Instagram")

    <!-- Map Begin -->
    <div class="map">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-7">
                    <div class="map__inner">
                        <h6>COlorado</h6>
                        <ul>
                            <li>1000 Lakepoint Dr, Frisco, CO 80443, USA</li>
                            <li>Sweetcake@support.com</li>
                            <li>+1 800-786-1000</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="map__iframe">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10784.188505644011!2d19.053119335158936!3d47.48899529453826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1543907528304" height="300" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
    <!-- Map End -->

    <!-- Footer Section Begin -->
