@using Domain.Entity
@model List<Cake> 

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


   @await Html.PartialAsync("HeroSection")

@await Component.InvokeAsync("AboutList")

@await Component.InvokeAsync("CategoryList")


@await Component.InvokeAsync("CakeList")

@await Component.InvokeAsync("TestimonialList")

@await Html.PartialAsync("Instagram")

<div class="map">
         <div class="container">
             <div class="row">
                 <div class="col-lg-4 col-md-7">
                     <div class="map__inner">
                         <h6>Istanbul</h6>
                         <ul>
                             <li>Address: 123 Delicious Street, Bakery District, Sugar Lane No: 45, Chocolateville, Istanbul, Turkey</li>
                             <li>Email: Sweetcake@support.com</li>
                             <li>Phone: +1 800-786-1000</li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
         <div class="map__iframe">
<div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=1425&amp;height=300&amp;hl=en&amp;q=Istanbul&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://gachanymph.com/">Gacha Nymph</a></div><style>.mapouter{position:relative;text-align:right;width:1425px;height:300px;}.gmap_canvas {overflow:hidden;background:none!important;width:1425px;height:300px;}.gmap_iframe {width:1425px!important;height:300px!important;}</style></div>         </div>
     </div>

