@model CakeShop.ViewModels.CakeListViewModel

<h1>@Model.CurrentCategory</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">

    @foreach (var pie in Model.Cakes)
    {
        <partial name="_CakeCard" model="pie" />
    }

</div>