@using Domain.Entity
@model List<Cake>
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Shop</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href="/Cake/Index">Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="shop spad">
    <div class="container">
        <div class="shop__option">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div class="shop__option__search">
                        <form>
                            <select id="select-category">
                                <option value="">Categories</option>
                                <option value="Cupcake">Cupcake</option>
                                <option value="Biscuit">Biscuit</option>
                                <option value="Butter">Butter</option>
                                <option value="Cheesecake">Cheesecake</option>
                                <option value="Velvet">Velvet</option>
                            </select>
                            <input id="search-input" type="text" placeholder="Search"/>
                            <button id="search-button" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="query-list">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <a href="/Cake/Details/@item.Id">
                            <div class="product__item__pic set-bg" data-setbg="/template/img/shop/@item.ImageThumbnailUrl">
                                <div class="product__label">
                                    <span>@item.Category.Name</span>
                                </div>
                            </div>
                        </a>

                        <div class="product__item__text">
                            <h6>
                                <a href="/Cake/Details/@item.Id">@item.Name</a>
                            </h6>
                            <div class="product__item__price">$@item.Price</div>
                            <div class="cart_add">
                                <a href="#" class="add-to-cart-btn" data-cake="@item.Id">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
