<!doctype html>
<html lang="en">
@await Html.PartialAsync("/Areas/Admin/Views/Home/_HeadPartial.cshtml")
<body>
<div class="wrapper d-flex align-items-stretch">
    @await Html.PartialAsync("/Areas/Admin/Views/Home/_SidebarPartial.cshtml")

    <div id="content" class="p-4 p-md-5 pt-5">
        @RenderBody()
    </div>
</div>

  @await Html.PartialAsync("/Areas/Admin/Views/Home/_ScriptPartial.cshtml")
  </body>
</html>