<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Views/Default/PartialHead.cshtml")
<body>
<div id="preloder">
    <div class="loader"></div>
</div>

@await Html.PartialAsync("/Views/Default/Topbar.cshtml")

@await Html.PartialAsync("/Views/Default/Header.cshtml")
@RenderBody()

@await Html.PartialAsync("/Views/Default/Footer.cshtml")
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>


<script src="/template/js/jquery-3.3.1.min.js"></script>
<script src="/template/js/bootstrap.min.js"></script>
<script src="/template/js/jquery.nice-select.min.js"></script>
<script src="/template/js/jquery.barfiller.js"></script>
<script src="/template/js/jquery.magnific-popup.min.js"></script>
<script src="/template/js/jquery.slicknav.js"></script>
<script src="/template/js/owl.carousel.min.js"></script>
<script src="/template/js/jquery.nicescroll.min.js"></script>
<script src="/template/js/main.js"></script>
<script src="/js/site.js"></script>
<script src="/js/ShoppingCart/Index.js"></script>
<script src="/js/Wishlist/Index.js"></script>
<script src="/js/Cake/Index.js"></script>
<script src="/js/Login/Index.js"></script>
</body>
@RenderSection("scripts", required: false)
</html>