@model CakeShop.Areas.Identity.Models.UserEditViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Profile</h4>
            <form class="forms-sample" asp-action="Index" method="post" role="form">
                <label class="mt-4">Username</label>
                <div class="input-group">
                    <input type="text" class="form-control" asp-for="UserName" placeholder="Username">
                </div>
                <label class="mt-4">Email</label>
                <div class="input-group">
                    <input type="text" class="form-control" asp-for="Email" placeholder="Email">
                </div>

                <label class="mt-4">Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                    <button class="btn btn-secondary password-visibility-button" type="button">
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    </button>
                </div>
                <label class="mt-4">Confirm Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="ConfirmPassword"/>
                    <button class="btn btn-secondary password-visibility-button" type="button">
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    </button>
                </div>
                <label class="mt-4">Phone Number</label>
                <div class="input-group">
                    <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="PhoneNumber">
                </div>
                <button type="submit" class="btn btn-primary mr-2 mt-4">Submit</button>
                <button class="btn btn-light mt-4">Cancel</button>
            </form>
        </div>
    </div>
</div>